<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.idolu.domain.product.repository.ProductRepository">

    <select id="findByCategoryIdAndIDolId" resultType="ProductPaginationDto">
        SELECT pt.id, category_id, i_dol_id, name, price, stock, image_url
        FROM product p
        JOIN (SELECT id
            FROM product
            <where>
                <if test="categoryId != null">AND category_id = #{categoryId}</if>
                <if test="iDolId != null">AND i_dol_id = #{iDolId}</if>
            </where>
            <choose>
                <when test='order.toString() eq "PRICE_DESC"'>
                    ORDER BY price DESC
                </when>
                <when test='order.toString() eq "PRICE_ASC"'>
                    ORDER BY price ASC
                </when>
                <otherwise>
                    ORDER BY id DESC
                </otherwise>
            </choose>
            LIMIT #{size}
            OFFSET #{offset}
        ) pt ON pt.id = p.id;
    </select>

    <select id="getTotalCountByCategoryIdAndIDolId" resultType="Long">
        SELECT COUNT(*)
        FROM product
        <where>
            <if test="categoryId != null">AND category_id = #{categoryId}</if>
            <if test="iDolId != null">AND i_dol_id = #{iDolId}</if>
        </where>
    </select>

    <select id="findByIdForUpdate" resultType="Product">
        SELECT *
        FROM product
        WHERE id = #{id}
            FOR UPDATE
    </select>

    <update id="updateProductStock" parameterType="Product">
        UPDATE product
        SET stock      = #{stock},
            updated_at = now()
        WHERE id = #{id}
    </update>
</mapper>