<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.flab.idolu.domain.address.repository.AddressRepository">

    <insert id="insertAddress" keyProperty="id" parameterType="Address" useGeneratedKeys="true">
        INSERT INTO address (member_id, recipient, phone, zip_code, address_1, address_2, is_deleted, created_at,
                             updated_at)
        VALUES (#{memberId}, #{recipient}, #{phone}, #{zipCode}, #{address1}, #{address2}, false, NOW(), NOW());
    </insert>

    <select id="findByMemberId" resultType="AddressInfoDto">
        SELECT id,
               recipient,
               phone,
               zip_code,
               address_1,
               address_2
        FROM address
        WHERE member_id = #{memberId}
          AND is_deleted = false;
    </select>

    <select id="findByIdAndMemberId" resultType="AddressInfoDto">
        SELECT id,
               recipient,
               phone,
               zip_code,
               address_1,
               address_2
        FROM address
        WHERE id = #{id}
          AND member_id = #{memberId}
          AND is_deleted = false;
    </select>
</mapper>